body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: 14px/1.5 $sans-regular;
  color: $black;
}

a {
  transition: color $transition-normal, border-color $transition-normal, background-color $transition-normal;
  cursor: pointer;
}



// helpers
.clearfix {
  @include clearfix();
}

.hidden {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.forDesktop {
  display: block;
}

.forDesktopTablet {
  display: block;
}

.forTablet {
  display: none;
}

.forMobile {
  display: none;
}

@media ($tablet) {
  .forDesktop {
    display: none;
  }

  .forTablet {
    display: block;
  }
}

@media ($mobile) {
  .forDesktopTablet {
    display: none;
  }

  .forMobile {
    display: block;
  }
}



// common blocks
.contentWrapper {
  overflow: hidden;
}

.titleMain {
  margin-bottom: 45px;
  font: 36px/55px $sans-extrabold;
}

.subtitleMain {
  margin-bottom: 35px;
  font-size: 22px;
}

.contentIn {
  position: relative;
  max-width: 1064px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@media ($mobile) {
  .titleMain {
    margin-bottom: 45px;
    font-size: 26px;
    line-height: 32px;
  }

  .subtitleMain {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 23px;
  }
}



// img
.imgWrapper {

}

.imgWrapper__img {
  vertical-align: middle;
}
