$white:         #fff;
$black:         #000;



// animation
$transition-normal: .3s linear;
$transition-fast: .1s linear;



// fonts



// screen resolutions
$tablet: 'max-width: 992px';
$mobile: 'max-width: 767px';
