.footer {
  padding: 67px 0 105px;
  text-align: center;
  background-color: #F7F7F7;
}

.footer__in {
  max-width: 600px;
  margin: 0 auto;
}

.footer__title {
  margin-bottom: 35px;
}



.footerButtons {

}

.footerButtons__button {
  height: 63px;
  font-size: 15px;
  line-height: 65px;
  padding: 0 35px;
}

.footerButtons__info {
  margin: 26px 0 32px;
  font-size: 16px;
}



.apps {

}

.apps__link {
  &:not(:last-child) {
    margin-right: 17px;
  }

  &--google {
    @include background-image(app_google, 140px, 45px);
  }

  &--apple {
    @include background-image(app_apple, 140px, 45px);
  }
}
