.menuMobile {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  line-height: 60px;
  background: $white;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.10);
  -webkit-overflow-scrolling: touch;
}

.menuMobile__in {

}

.menuMobile__logo {

}

.menuMobile__menu {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: fixed;
  z-index: 102;
  top: 60px;
  right: 100%;
  bottom: 0;
  width: 100%;
  min-height: 300px;
  padding: 0 20px;
  background: $white;
  transition: right $transition-normal;

  &.is-active {
    right: 0;
  }
}

.menuMobile__item {
  flex-basis: 100%;
  text-align: center;
}

.menuMobile__link {
  font-size: 16px;
  color: rgba(0,0,0,0.5);
}

.menuMobile__link--special {
  color: $black;
}

@media ($mobile) {
  .menuMobile {
    display: block;
  }
}
