.ratesWrapper {
  margin: 40px 0 38px;
}

.rates {
  background: $white;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
}

.rates__additional {
  max-height: 0;
  overflow: hidden;

  &.is-active {
    max-height: none;
  }
}

@media ($tablet) {
  .ratesWrapper {
    margin-bottom: 0;
  }

  .rates {
    box-shadow: none;
  }
}



.ratesCols {
  display: flex;
}

.ratesColsItem {
  position: relative;
  flex-basis: 190px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-left: 1px solid #DFDFDF;

  &:nth-child(1),
  &:nth-child(2) {
    border-left: 0;
  }

  &--special {
    flex-basis: calc(100% - 760px);
  }

  &--header {
    background: url('../img/moon.png') no-repeat bottom right;
    background-size: cover;
  }
}

.ratesColsItem__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.ratesColsItem__title {
  flex-basis: 100%;
  margin-bottom: 78px;
  font: 16px/25px $sans-semibold;
}

.ratesColsItem__key {

}

.ratesColsItem__value {
  font: 14px/20px $sans-bold;
}

.ratesColsItem__button {
  width: 100%;
}

.ratesColsItem__tooltipContainer {
  position: absolute;
  top: 21px;
  right: 15px;
}

.ratesColsItem__ok {
  @include background-image(ok, 28px, 20px);
}

.ratesColsItem__content {
  display: none;
  flex-basis: 100%;
  margin: 40px 0 0;
  text-align: left;
}

@media (max-width: 1200px) {
  .ratesColsItem {
    &--header {
      .ratesColsItem__img {
        display: none;
      }
    }
  }
}

@media ($tablet) {
  .ratesCols {
    flex-wrap: wrap;
  }

  .ratesColsItem {
    flex-basis: 100%;
    margin: 0 0 30px;
    padding: 31px 0 0;
    background: $white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    overflow: hidden;

    &--special {
      flex-basis: 100%;
    }

    &.forDesktop {
      display: none;
    }
  }

  .ratesColsItem__title {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .ratesColsItem__button {
    max-width: 240px;
    margin: 0 20px;
  }

  .ratesColsItem__content {
    display: block;
  }
}



.ratesColsPrice {
  flex-basis: 100%;
  margin-bottom: 72px;
}

.ratesColsPrice__amount {
  font: 26px/32px $sans-bold;
}

.ratesColsPrice__currency {
  font: 26px/32px $sans-regular;
  color: #B1B1B1;
}

.ratesColsPrice__info {
  font: 12px/18px $sans-semibold;
  text-transform: uppercase;
  color: #B1B1B1;
}

@media ($tablet) {
  .ratesColsPrice {
    margin-bottom: 37px;
  }
}



.ratesContent {
  .ratesCols {
    border-top: 1px solid #EDEDED;
  }

  .ratesColsItem {
    &:nth-child(1) {
      text-align: left;
      justify-content: left;
    }

    &:nth-child(2) {
      border-left: 1px solid #DFDFDF;
    }
  }

  .ratesColsItem--special {
    padding-right: 40px;
  }
}

.ratesContent__title {
  position: relative;
  padding: 20px 25px 18px;
  font: 18px/25px $sans-bold;
  background-color: #F5F5F5;
}

.ratesContent__hidden {
  max-height: 0;
  overflow: hidden;

  &.is-active {
    max-height: none;
    border-top: 1px solid #EDEDED;
  }
}

.ratesContent__button {
  display: block;
  padding: 12px 20px 10px;
  font: 12px/18px $sans-semibold;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  background-color: $white;
  border-top: 1px solid #EDEDED;
  cursor: pointer;
  transition: background-color $transition-normal;

  &:hover {
    background-color: #f9f9f9;
  }

  &.forMobile {
    display: none;
  }
}

@media ($mobile) {
  .ratesContent__title {
    font-size: 16px;
  }

  .ratesContent__button {
    &.forMobile {
      display: block;
    }
  }
}



.ratesInfo {

}

.ratesInfo__item {
  position: relative;
  padding: 19px 70px 19px 25px;

  &:not(:last-child) {
    border-bottom: 1px solid #EDEDED;
  }

  &--ok {
    padding: 19px 25px 19px 70px;

    &:before {
      content: '';
      @include background-image(ok, 28px, 20px);
      position: absolute;
      top: 21px;
      left: 25px;
    }
  }
}

.ratesInfo__title {

}

.ratesInfo__value {
  position: absolute;
  top: 19px;
  right: 25px;
  font-family: $sans-bold;
  text-align: right;
}

.ratesInfo__currency {

}
