/*** browser fixes ***/
::-webkit-input-placeholder {color:#A4A4A4;}
::-moz-placeholder          {color:#A4A4A4;}/* Firefox 19+ */
:-moz-placeholder           {color:#A4A4A4;}/* Firefox 18- */
:-ms-input-placeholder      {color:#A4A4A4;}

input,
button {
  -moz-appearance:none;
  -webkit-appearance: none;
}

button {
  background-color: transparent;
}



// autocomplete
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}



// delete arrows
input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



// ie: clear 'x' icon in text field
::-ms-clear {
  display: none;
}

// ie: clear icon in password field
::-ms-reveal {
  display: none;
}
